body {
    background-color: rgb(201, 210, 155);   /* Background color
    background-image: url("paper.gif");     Background image
    background-repeat: repeat-x;            The background image repeats only horizontally 
    background-repeat: no-repeat;           The background image does not repeat 
    background-position: right top;         Position of the image in the upper right corner 
    background-attachment: fixed;           Fixed background position, does not scroll 
    background-attachment: scroll;          The background image scrolls with the page */
}

/* Shorthand property, the same as:
body {
    background: lightseagreen url("img_tree.png") no-repeat right top;
} */

h1, h2 {
    font-family: "Sofia", "Tahoma", "Verdana", sans-serif;
    font-style: oblique;  /* Font style */
    color: rgb(27, 69, 24); /* Color of the text */
    text-align: center; /* Text positioning on the page */
    /* opacity: 0.3; Background transparency along with text */
    /* background: rgba(0, 128, 0, 0.3); Background transparency, text is clear */
}

h3, h4, h5 {
    color: rgb(10, 103, 105);
    font-family: "Sofia", sans-serif;
    text-decoration-line: overline underline; /* Text decorative styling */
    text-decoration-color: rgb(17, 83, 21); /* Color of the decorative line */
    text-decoration-style: double; /* Style of the decorative line */
    text-decoration-thickness: 3px; /* Thickness of the decorative line */
    /* Alternatively, you can combine: text-decoration: underline red double 5px; */
}

img.a {
    vertical-align: text-top; /* Alignment of the image relative to the text */
}

/* Removing underline from links
a {
    text-decoration: none;
} */

.ex1 {
    border: 5px rgb(127, 89, 89); /* Borders (thickness, color) */
    border-style: dotted solid; /* Dotted borders top-bottom and solid borders left-right */
    text-align: center;
    padding: 10px; /* Padding from the content to the border */
    text-transform: uppercase; /* Each word of the text starts with a capital letter */
    text-shadow: 2px 2px rgb(151, 115, 115); /* Shadow effect */
    font-family: "Audiowide", sans-serif;
}

/* The same thing, but separately:
    border-top-style: dotted;
    border-right-style: solid;
    border-bottom-style: dotted;
    border-left-style: solid; */

    .ex2 {
        border-style: dashed; /* Dashed border */
        border-color: #940b0b; /* Red color */
        margin: 25px 50px 75px 100px; /* Margin from the border to surrounding elements */
        font-family: verdana;
        font-size: 20px;
        text-transform: lowercase; /* Makes all text lowercase */
        text-shadow: 2px 2px 5px rgb(2, 85, 6); /* Blurred shadow effect */
        /* You can specify margins in four lines instead of one:
        margin-top: 100px;
        margin-bottom: 100px;
        margin-right: 150px;
        margin-left: 80px;
        Example of using margin:auto, the element takes the specified width, and
        the remaining space is evenly distributed between the right and left margins */
    }

#ex3 {
    text-align: right; /* Text position on the right */
    border-style: double; /* Double line */
    border-color: hsl(270, 19%, 37%); /* Yellow */
    text-transform: capitalize;
    font-family: "Tahoma", "Verdana", sans-serif;
    font-style: oblique;
    font-weight: bold;
    font-variant: small-caps; /* Small font */
}

.ex4 {
    border: 3px rgb(116, 116, 116);
    border-style: groove; /* 3D grooved */
    border-radius: 10px;  /* Rounded border */
}

.ex5 {
    border: 7px rgb(7, 128, 133);
    border-style: ridge; /* 3D ridged */
    width: 300px;
    color: white;
    text-shadow: 2px 2px 4px #000000;  /* Shadow effect on a white background */
}

.ex6 {
    border: 7px rgb(145, 197, 145);
    border-style: inset; /* 3D inset */
    text-shadow: 0 0 3px #820a0a;
}

.ex7 {
    border: 7px green;
    border-style: outset;
}

.ex8 {
    border: 7px rgb(87, 0, 127);
    border-style: none; /* Not defined */
    text-shadow: 0 0 3px #542020, 0 0 5px #0000ff;
}

.ex9 {
    border: 7px rgb(148, 216, 255);
    border-style: hidden; /* Hidden */
    color: rgb(182, 255, 210);
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.ex10 {
    border: 1px solid black;
    outline-style: solid; /* Solid line */
    outline-color: rgb(131, 0, 0);
    outline-width: thin;
}

.ex11 {
    border: 2px solid black;
    outline-style: dotted; /* Dots */
    outline-color: rgb(0, 0, 73);
    outline-width: thick;
}

.ex12 {
    border: 1px solid black;
    outline-style: dashed; /* Dashed */
    outline-color: rgb(146, 193, 146);
    outline-width: medium;
}

.ex13 {
    height: 100px;
    border: 1px solid black;
    outline-style: double; /* Double */
    outline-color: yellow;
    outline-width: thick;
    margin-left: inherit;
    letter-spacing: 5px; /* Space between letters, can be negative */
}

.ex14 {
    border: 1px solid black;
    outline-style: groove; /* 3D grooved */
    outline-color: rgb(99, 203, 255);
    outline-width: thick;
}

.ex15 {
    border: 1px solid black;
    outline-style: ridge; /* 3D ridged */
    outline-color: brown;
    outline-width: thick;
}

.ex16 {
    border: 1px solid black;
    margin: 30px;
    width: 700px;
    outline-style: inset; /* 3D outset outline */
    outline-color: rgb(17, 82, 31);
    outline-width: thick;
    background-color: rgb(178, 195, 188);
}

.ex17 {
    border: 1px solid black;
    padding: 10px;
    outline-style: outset; 
    outline-color: rgb(0, 229, 255);
    outline-width: thick;
}

.ex18 {
    border-bottom: 6px solid rgb(25, 33, 56);
}

.ex19 {
    box-sizing: border-box;
    border-style: dotted dashed solid double;
    border-width: 25px 7px 4px 35px;
    border-color: rgb(138, 6, 6) rgb(14, 90, 14) rgb(178, 255, 190) rgb(185, 185, 116);
}

.ex20 {
    text-align-last: center; /* Text alignment */
    font-family: Poppins, sans-serif;
    font-size: 16px;
}

.ex21 {
    text-indent: 50px; /* First line indent, paragraph */
    line-height: 1.8; /* Space between lines */
    word-spacing: 10px; /* Space between words */
    /* white-space: nowrap;    Disable text wrapping within the element */
    font: italic small-caps bold 12px/30px Georgia, serif;
}

.ex22 {
    font-family: 'Abril Fatface', serif;
    font-size: 46px;
    text-align: center;
}

/* Unvisited link
a:link {
    color: red;
    text-decoration: underline;
    background-color: yellow;
}

Visited link
a:visited {
    color: green;
    text-decoration: none;
    background-color: cyan;
}

Mouse over link
a:hover {
    color: hotpink;
    text-decoration: none;
    background-color: lightgreen;
}

Active link
a:active {
    color: blue;
    text-decoration: underline;
    background-color: hotpink;
} */

a:link, a:visited {
    background-color: #ff1100;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: rgb(0, 105, 68);
}
